---
layout: main
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%b %d, %Y'}}</span>&nbsp;&nbsp;- Tags:&nbsp;
    {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>&nbsp;
    {% endfor %}
  </div>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  <div class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>
  <div>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="tag">Previous</a>
    {% else %}
    {% endif %}
    &nbsp;&nbsp;
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="tag">Next</a>
    {% else %}
    {% endif %}
  </div>
</div>

<!--
{% for post in site.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%b %d, %Y'}}</span>&nbsp;&nbsp;- Tags:&nbsp;
    {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>&nbsp;
    {% endfor %}
  </div>
</article>
{% endfor %}
-->


